<div>
    <table>
        <tr>
            <td>User:</td>
            <td>
                <div data-dojo-attach-point="_userName" data-dojo-type="dijit.form.TextBox" data-dojo-props=""></div>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <div data-dojo-attach-point="_password" data-dojo-type="dijit.form.TextBox" data-dojo-props="type:'password'"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
</div>